
.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid red;
  margin-top: 20px;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: red;
  font-family: 'Marvel', sans-serif;
  
}

.search{
    font-size: large;
}

.logoDiv{
    margin-top: 30vh;
    margin-bottom: 30vh;  
    text-align: center; 
}
.banner{
    position: absolute;
    z-index: -1;
}

.mainImage{
    float: right;
    max-width: 30%;
    margin-left: 2em;
}
.content{
    padding: 1em;
}
.story::after {
    content: "";
    clear: both;
    display: table;
}
.border-b{
    border-bottom: solid grey 2px;
}
.stars{
    color: red;
}

nav .brand-logo {
    position: relative;

}

.heroSubmit {
    position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.btn {
    margin-left : 10px;
}

.movie-holder {
    width: 250px;
    margin-bottom: 30px;
    float: left;
}

.title {
    font-size: 30px;
    border-bottom: 1px solid black;
}

.movie-container{
    width: 39%;
    height: 39%;
    float: left;
    margin-left: 50px; 
}

.chart-container {
    width: 400px;
    height: 320px;
    margin: 20px auto;
}