.mainImage{
    float: right;
    max-width: 30%;
    margin-left: 2em;
}
.content{
    padding: 1em;
}
.story::after {
    content: "";
    clear: both;
    display: table;
}
.border-b{
    border-bottom: solid grey 2px;
}
.stars{
    color: red;
}

nav .brand-logo {
    position: relative;
}